.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.spanHighLight {
    background-color: blue;
    color: white;
}
